[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-mail = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-babel = "*"
pyjwt = "*"
python-dotenv = "*"
psycopg2 = "*"

[dev-packages]

flask-script = "*"


[requires]

python_version = "3.6"
